@import '../index.scss';

#navbar {
  align-items: center;
  // display: grid;
  // grid-template-columns: 2.65fr 3.48fr;
  width: 100%;
  padding: 10px 0 10px 0;
}


#logo {
  width: 160px;
  height: 45px;
}

#navbar div {
  display: inline-block;
  // ff
  margin-right: 0 auto;
}

.navbar-item a {
  cursor: pointer;
  padding: 7px;
  margin: 0 8px;

  color: $mainBlue;
  font-size: 1.16em;
  text-decoration: none;
  border: 2px solid $mainBlue;
  border-radius: 8px;
  transition: 0.30s;
  &:hover {
    color: white;
    background-color: $mainBlue;
  }
}

button {
  cursor: pointer;

  padding: 7px;
  margin: 0 8px;

  color: $mainPink;
  font-size: 1.16em;
  text-decoration: none;
  border: 2px solid $mainPink;
  border-radius: 8px;
  transition: 0.30s;
  &:hover {
    color: white;
    background-color: $mainPink;
  }
}
