@import '../index.scss';

.profile {
  // margin-top: 80px;
}



#profile_btn {
  float: right;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
