@import '../index.scss';

#Searchbar {
  padding: 140px 0 30px 0;
  width: 100vw;
  background-color: $mainBlue;
}

#title {
  color: $mainWhite;
  font-size: 6em;
  text-align: center;
}

#search {
  text-align: center;
}

#search input {
  display: inline-block;
  width: 400px;
  height: 60px;

  margin: 50px auto 30px auto;
  padding-left: 10px;

  outline: none;
  border: 3px solid $mainPink;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

#search button {
  display: inline-block;
  height: 60px;
  padding: 0 10px;
  
  color: $mainBlue;
  font-size: 1.20em;

  border: 3px solid $mainPink;
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: white;

  cursor: pointer;
  transition: 0.30s;
  &:hover { color: $mainPink; }
}
