*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;
$mainBlue:#408fc6;
$mainPink:#fe7f9c;

body{
  background: $mainWhite;
  color: $mainBlack;
  font-family: 'Roboto', sans-serif;
}